<!-- TO REMOVE AFTER DESIGN -START--> 
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
</head>

<body class="darken">
<!-- TO REMOVE AFTER DESIGN -END -->

{% extends "bare.html" %}

{% block body %}

<div class="result-container">
    {% if destinationList|length > 0 %}
    {% for i in destinationList %}
	<div class="result-picture">
		<h2>#{{loop.index}}<br>
		{{i['name']}}</h2>

      <!-- <img src="{{ url_for('static', filename=i['picture']) }}"></img> --> 
      <img class="result-pic" src="../../static/country_img/AbuDhabi.jpg"></img>
	</div>

	<div class="result-desc">
		<p>Leisure</p>
    
       {% for j in i['leisure'] %}
				<span>{{j}}</span>
        <br />
          {% endfor %}

		<p>Water Activities</p>

				  {% for j in i['waterActivity'] %}
				<span>{{j}}</span>
        <br />
          {% endfor %}

		<p>Outdoor Activites</p>
	
				  {% for j in i['outdoorActivity'] %}
				<span>{{j}}</span>
        <br />
          {% endfor %}
	</div>
    {% endfor %}
   <h4><i>This is our recommendation!<br>Thank you for using Where2Go.</i></h4> 
    
    {% else %}
    <span>Sorry no result found</span>
    <br />
    {% endif %}
    
    <form role="form" method="POST">
      <button type="submit" id = "homeBtn" name= "homeBtn" value = "Home" >start</button>
    </form>
    	

</div>


{% endblock %}