<!-- TO REMOVE AFTER DESIGN -START--> 
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
</head>

<body>
<!-- TO REMOVE AFTER DESIGN -END -->

{% extends "bare.html" %}

{% block body %}

<div class="col-md-12">


{% for i in destinationList %}

  <div class="col-md-4 col-xs-12">
    <div class="result-container">
    	<div class="result-picture">
    		<h2>#{{loop.index}}<br>
    		{{i['name']}}</h2>

        <img class="result-pic" src="{{ url_for('static', filename=i['picture']) }}"></img>
    	</div>

    	<div class="result-desc">
    		<p>Leisure</p>
        
           {% for j in i['leisure'] %}
    				<span>{{j}}</span>
              {% endfor %}

    		<p>Water Activities</p>

    				  {% for j in i['waterActivity'] %}
    				<span>{{j}}</span>
              {% endfor %}

    		<p>Outdoor Activites</p>
    	
    				  {% for j in i['outdoorActivity'] %}
    				<span>{{j}}</span>
              {% endfor %}
    	</div>

  </div>
</div>

{% endfor %}

<div class="modal-footer">
  <form role="form" method="POST">
  {% if destinationList|length > 0 %}
    <h4><i>This is our recommendation!<br>Thank you for using Where2Go.</i></h4>
    {% else %}
    <h4><i>Sorry no result found</i></h4>
    {% endif %}
    <br />
    <h4><i>Thank you for using Where2Go.</i></h4>
    <br />
    <button class="end" type="submit" value="next">home</button>
  </form>
<div>


{% endblock %}