<!-- TO REMOVE AFTER DESIGN -START -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- DAREN'S LOCAL CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
</head>

<body>
<!-- TO REMOVE AFTER DESIGN -END -->

{% extends "bare.html" %}

{% block body %}

<div class="container">
    <p class="white-font">What kind of outdoor activities do you wish to take part in?</p>

    <form role="form" method="POST" class="align-left">

        <div class="checkbox">
            <label><input type="checkbox" name="{{slotName}}" id ="checkbox" value="{{choice}}">Mountain Biking</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="{{slotName}}" id ="checkbox" value="{{choice}}">Rock Climbing</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="{{slotName}}" id ="checkbox" value="{{choice}}">Hiking</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="{{slotName}}" id ="checkbox" value="{{choice}}">Snow Skiing</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="{{slotName}}" id ="checkbox" value="{{choice}}">Zip Line</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="{{slotName}}" id ="checkbox" value="{{choice}}">Horseback Riding</label>
        </div>

        <button class="next" type="submit" id="nextBtn" value="next" >next</button>
    </form>

</div>


{% endblock %}