<!-- TO REMOVE AFTER DESIGN -START 
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
</head>

<body>
TO REMOVE AFTER DESIGN -END -->

{% extends "bare.html" %}

{% block body %}

<div class="container">
    <p class="white-font">{{question}}</p>

    <form role="form" method="POST" class="align-left">
        {% for choice in choiceList %}
        {% if questionType == 'RADIO'%}
        <div class="radio">
            <label><input type="radio" name="{{slotName}}" id ="radio" value="{{choice}}" >{{choice}}</label>
        </div>
        {% elif questionType == 'CHECKBOX' %}
        <div class="checkbox">
            <label><input type="checkbox" name="{{slotName}}" id ="checkbox" value="{{choice}}">{{choice}}</label>
        </div>
        {% else %}
        <div class="col-xs-7">
            <input type="text" class="form-control" id ="textbox" placeholder="Enter a number" name="{{slotName}}">
        </div>

        {% endif %}
        {% endfor %}
        <br>
        <button class="next" type="submit" id="nextBtn" value="next" >next</button>
    </form>
    {% if error %}
    <br/>

    <div class="alert alert-danger">
        {{errorMsg}}
    </div>
    {% endif %}
    <p></p>


    <!--{% for i in factResult %}-->
    <!--{{i}}-->
    <!--<br/>-->
    <!--{% endfor %}-->
</div>


{% endblock %}