{% extends "bare.html" %}

{% block body %}




<div class="container">
<h2>Question {{qnId}}</h2>
    <p>Do the natives in the country you are visiting have to be english speakers?</p>
  <form role="form" method="POST">
    <div class="radio">
      <label><input type="radio" name="english" value = "yes">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="english" value = "no">No</label>
    </div>
      <button type="submit" name= "nextbtn" value = "next" >Next</button>
  </form>
</div>





{% endblock %}